.card {
  box-shadow: 0px 3px 18px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card__big {
  width: 90%;
  height: 85%;
  display: flex;
}

.card__small {
  width: 340px;
  height: 600px;
  z-index: 200;
  background-color: var(--bg);
}
.card__mini {
  cursor: pointer;
  margin: 0.6rem;
  width: 150px;
  height: 200px;
}

.card__modal {
  width:80%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: var(--dark-6);
  padding: 10px 20px 40px;
  display: flex;
  color: white;
  flex-direction: column;
}
